[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[scripts]
dev = "bash -c \"export FLASK_ENV='development' && flask run\""
start = "gunicorn app:app"
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
